</main>
<section id="footer" class="footer-background">
  <div class="container">
    <footer class="py-3 text-center">
        <p>© Weather Forecast, Inc</p>
    </footer>
  </div>
</section>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>